@page
@model CreativeAgency.Pages.IndexModel
@{
}

<header>
<!--Section: Design Block-->
<section>
    <div id="intro" class="bg-image" style="
          background-image: url('https://mdbootstrap.com/img/Photos/Others/images/62.jpg');
          height: 100vh;
        ">
        <div class="mask">
            <div class="container d-flex justify-content-center align-items-center h-100">
                <div class="row align-items-center">
                    <div class="col-md-6 my-5">
                        <h1 class="mb-5" style="color: #112f6b;">Test Uygulaması</h1>
                        <p class="lead mb-5">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi
                            fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non
                            animi ea dolor molestiae iste.
                        </p>
                        <a  class="btn btn-light btn-rounded btn-lg me-1" href="/downloads">
                            Downloads
                        </a>
                        <a  class="btn btn-danger btn-rounded btn-lg ms-1" href="/calculator">
                            Calculator
                        </a>
                    </div>
                    <div class="col-md-6">
                        <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png" alt=""
                             class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section: Design Block-->
  </header>

<main>
    <div class="container my-5">
        <!--Section: Design Block-->
        <section>
            <div class="row">
                <div class="col-lg-6 col-xl-5 mb-4 mb-lg-0">
                    <img src="https://mdbootstrap.com/img/Photos/Others/images/66.jpg" class="img-fluid shadow-3 rounded" />
                </div>
                <div class="col-lg-6 offset-xl-1">
                    <h3 class="mb-4 pt-2 pt-lg-0" style="color: #112f6b;">Build your brand with us</h3>
                    <p class="mb-4">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi soluta ratione
                        quisquam, dicta ab cupiditate iure eaque? Repellendus voluptatum, magni impedit
                        delectus, beatae maxime temporibus maiores quibusdam.
                    </p>
                    <p class="mb-4">
                        Rem magnam ad perferendis iusto sint tempora ea voluptatibus iure, animi excepturi
                        modi aut possimus in hic molestias repellendus illo ullam odit quia velit. Lorem
                        ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                    <p class="mb-0">
                        Incidunt eligendi mollitia labore ipsum ex fugit explicabo saepe error neque beatae
                        in, expedita eveniet quae aliquam assumenda voluptatibus!
                    </p>
                </div>
            </div>
        </section>
        <!--Section: Design Block-->

        <hr class="my-5" />

        <!--Section: Design Block-->
        <section>
            <h3 class="text-center mb-5" style="color: #112f6b;">Why is it so great?</h3>

            <p class="text-center mb-5 mx-lg-5">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum laborum animi doloremque
                nam dicta veniam dolor ea nostrum excepturi laboriosam molestiae, expedita odit id! Sunt
                quia cumque consequatur perferendis hic.
            </p>

            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="row mb-3">
                        <div class="col-2">
                            <i class="fas fa-edit text-danger fa-2x"></i>
                        </div>
                        <div class="col-10 mb-2">
                            <h5 style="color: #112f6b;">Modern design</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                                nam, aperiam minima.
                            </p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2">
                            <i class="fas fa-cogs text-danger fa-2x"></i>
                        </div>
                        <div class="col-10 mb-2">
                            <h5 style="color: #112f6b;">Easy customize</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                                nam, aperiam minima assumenda.
                            </p>
                        </div>
                    </div>
                    <div class="row mb-3 mb-lg-0">
                        <div class="col-2">
                            <i class="fas fa-tablet-alt text-danger fa-2x"></i>
                        </div>
                        <div class="col-10 mb-2 mb-lg-0">
                            <h5 style="color: #112f6b;">Responsive layouts</h5>
                            <p class="mb-lg-0">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                                nam, aperiam.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 text-center">
                    <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png" alt="" class="img-fluid" />
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="row mb-3">
                        <div class="col-2">
                            <i class="fas fa-chart-line text-danger fa-2x"></i>
                        </div>
                        <div class="col-10 mb-2">
                            <h5 style="color: #112f6b;">Optymized for SEO</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                                nam, aperiam.
                            </p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2">
                            <i class="fas fa-users text-danger fa-2x"></i>
                        </div>
                        <div class="col-10 mb-2">
                            <h5 style="color: #112f6b;">Technical support</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                                nam, aperiam minima assumenda.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <i class="far fa-gem text-danger fa-2x"></i>
                        </div>
                        <div class="col-10">
                            <h5 style="color: #112f6b;">High quality</h5>
                            <p class="mb-0">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                                nam, aperiam minima.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Section: Design Block-->
    </div>


    <div class="container my-5">
        <!--Section: Design Block-->
        <section>
            <h3 class="text-center mb-5" style="color: #112f6b;">Our Services</h3>

            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body mt-3 mb-2">
                            <h5 style="color: #112f6b;">
                                <i class="fas fa-square text-danger me-2 mb-4"></i>Web Design
                            </h5>
                            <p class="mb-4">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente earu proident. Ad vegan excepteur butcher vice lomo leggings.
                            </p>
                            <a href="#" class="stretched-link text-danger">read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body mt-3 mb-2">
                            <h5 style="color: #112f6b;">
                                <i class="fas fa-square text-danger me-2 mb-4"></i>Development
                            </h5>
                            <p class="mb-4">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente earu proident. Ad vegan excepteur butcher vice lomo leggings.
                            </p>
                            <a href="#" class="stretched-link text-danger">read more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-4 mb-md-0">
                    <div class="card">
                        <div class="card-body mt-3 mb-2">
                            <h5 style="color: #112f6b;">
                                <i class="fas fa-square text-danger me-2 mb-4"></i>Branding
                            </h5>
                            <p class="mb-4">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente earu proident. Ad vegan excepteur butcher vice lomo leggings.
                            </p>
                            <a href="#" class="stretched-link text-danger">read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-0">
                    <div class="card">
                        <div class="card-body mt-3 mb-2">
                            <h5 style="color: #112f6b;">
                                <i class="fas fa-square text-danger me-2 mb-4"></i>Marketing
                            </h5>
                            <p class="mb-4">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente earu proident. Ad vegan excepteur butcher vice lomo leggings.
                            </p>
                            <a href="#" class="stretched-link text-danger">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Section: Design Block-->

        <hr class="my-5" />

        <!--Section: Design Block-->
        <section>
            <h3 class="text-center mb-5" style="color: #112f6b;">Our Projects</h3>

            <div class="lightbox">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/58.jpg"
                             data-mdb-img="https://mdbootstrap.com/img/Photos/Others/images/58.jpg" alt="Lightbox image 1"
                             class="w-100 mb-4" />
                        <img src="https://mdbootstrap.com/img/Photos/Vertical/7.jpg"
                             data-mdb-img="https://mdbootstrap.com/img/Photos/Vertical/7.jpg" alt="Lightbox image 2"
                             class="w-100 mb-4" />
                    </div>
                    <div class="col-lg-4">
                        <img src="https://mdbootstrap.com/img/Photos/Vertical/4.jpg"
                             data-mdb-img="https://mdbootstrap.com/img/Photos/Vertical/4.jpg" alt="Lightbox image 3"
                             class="w-100 mb-4" />
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/63.jpg"
                             data-mdb-img="https://mdbootstrap.com/img/Photos/Others/images/63.jpg" alt="Lightbox image 4"
                             class="w-100 mb-4" />
                    </div>
                    <div class="col-lg-4">
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/64.jpg"
                             data-mdb-img="https://mdbootstrap.com/img/Photos/Others/images/64.jpg" alt="Lightbox image 5"
                             class="w-100 mb-4" />
                        <img src="https://mdbootstrap.com/img/Photos/Vertical/5.jpg"
                             data-mdb-img="https://mdbootstrap.com/img/Photos/Vertical/5.jpg" alt="Lightbox image 6"
                             class="w-100 mb-4" />
                    </div>
                </div>
            </div>
        </section>
        <!--Section: Design Block-->

        
        
    </div>
</main>

<footer class="text-white text-center text-lg-start" style="background-color: #1c2331;">
   
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-white" href="/">Test Uygulamasıı</a>
    </div>
    <!-- Copyright -->
</footer>